APIEEXAM/settings/dev.py

APIEEXAM/__pycache__/__init__.cpython-310.pyc
APIEEXAM/__pycache__/urls.cpython-310.pyc
APIEEXAM/__pycache__/wsgi.cpython-310.pyc
APIEEXAM/settings/__pycache__/common.cpython-310.pyc
APIEEXAM/settings/__pycache__/dev.cpython-310.pyc
exam/__pycache__/__init__.cpython-310.pyc
exam/__pycache__/admin.cpython-310.pyc
exam/__pycache__/apps.cpython-310.pyc
exam/__pycache__/models.cpython-310.pyc
exam/migrations/0001_initial.py
exam/migrations/0002_level_placed_at_alter_department_levels.py
exam/migrations/0003_alter_examquestion_unique_together.py
exam/migrations/0004_chapter_subject.py
exam/migrations/0005_student_department_student_level.py
exam/migrations/0006_alter_result_student.py
exam/migrations/0007_remove_student_department_student_department_and_more.py
exam/migrations/0008_alter_student_department.py
exam/migrations/__pycache__/__init__.cpython-310.pyc
exam/migrations/__pycache__/0001_initial.cpython-310.pyc
exam/migrations/__pycache__/0002_level_placed_at_alter_department_levels.cpython-310.pyc
exam/migrations/__pycache__/0003_alter_examquestion_unique_together.cpython-310.pyc
exam/migrations/__pycache__/0004_chapter_subject.cpython-310.pyc
exam/migrations/__pycache__/0005_student_department_student_level.cpython-310.pyc
exam/migrations/__pycache__/0006_alter_result_student.cpython-310.pyc
exam/migrations/__pycache__/0007_remove_student_department_student_department_and_more.cpython-310.pyc
exam/migrations/__pycache__/0008_alter_student_department.cpython-310.pyc
